*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------- NAVBAR ----------------*/
.navbar-brand{
    margin-right: 0;
    padding: 0 1em;
}

.navbar-nav{
    align-items: center;
}

.nav-link{
    font-size: 1.1em;
    padding: 0 1em;
    color: #fff;
}